@page "/addcthd"
@inject ApplicationDbContext DBcontextcthd
@inject NavigationManager Navigation

<h3>Chi Tiết Hoá Đơn Mới</h3>

<EditForm Model="@chiTHD" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


 
    <div class="form-group">
        <label for="SoLuong">SoLuong</label>
        <InputText id="SoLuong" class="form-control" @bind-Value="chiTHD.SoLuong" />
    </div>

</EditForm>

@code {
    private CTHD chiTHD = new CTHD();

    private async Task HandleValidSubmit()
    {
        DBcontextcthd.CTHDs.Add(chiTHD);
        await DBcontextcthd.SaveChangesAsync();
        Navigation.NavigateTo("/cthd");
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/cthd");
    }
}